{% extends "base.html" %}
{% block titulo %}
	Regitrar Alumno
{% endblock titulo %}
{% block contenido %}
<div class="page-header">
	<h4>
		<a href="{% url 'perfiles_app:alumno' %}" class="btn btn-warning">
			<span class="glyphicon glyphicon-chevron-left"></span>Regresar
		</a>
		<b>Datos del alumno</b>
	</h4>
</div>
<div>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
		<a href="{% url 'perfiles_app:encargado' %}" >
			<span class="glyphicon glyphicon-plus">Agregar encargado</span>
		</a>
		<button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-chevron-right"></span></button>
	</form>
</div><br><br><br>
{% endblock contenido %}