{% extends "base.html" %}
{% block title %}
	Confirma eliminar
{% endblock title %}
{% block contenido %}
<div class="page-header">
		<h4>
			<a href="{% url 'perfiles_app:alumno' %}" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<b>Confirma eliminar</b>
		</h4>
	</div>
	<form method="POST">{% csrf_token %}
		<div class="alert alert-danger">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
		  <b>Cuidado!</b> Estas seguro de querer eliminar a: "<strong>{{ object }}</strong>" ?
		</div>		
			<button type="submit/button" class="btn btn-success pull-right">Estoy seguro<span class="glyphicon glyphicon-chevron-right"></span></button>
	</form>	

{% endblock contenido %}