{% extends "base.html" %}
{% block title %}
	Actualizar
{% endblock title %}
{% block contenido %}
	<div class="page-header">
		<h4>
			<a href="{% url 'perfiles_app:alumno' %}" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<b>Actualizar alumno</b>
		</h4>
	</div>
	<div>
		<form method="POST">{% csrf_token %}
			{{form.as_p}}
			 <button type="submit/button" class="btn btn-success pull-right">Guardar cambios<span class="glyphicon glyphicon-chevron-right"></span></button>
			 <a id="opciones"><span class="glyphicon glyphicon-chevron-right"> Más opciones</span></a><br><br>
			<a id="opcion1" href="{% url 'perfiles_app:encargado' %}"><span class="glyphicon glyphicon-plus"> Gestionar encargados</span></a><br>
		</form>
	</div><br><br><br>
{% endblock contenido %}
{% block mijs %}
	<script>
	$(document).ready(function(){	    
	    $("#opcion1").hide();
	    $("#opciones").click(function(){
		    $("#opcion1").toggle();
		});	
	});
	</script>
{% endblock mijs %}