{% extends "base.html" %}
{% block title %}
	Actualizar
{% endblock title %}
{% block contenido %}
	<div class="page-header">
		<h4>
			<a href="{% url 'perfiles_app:profesor' %}" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<b>Actualizar</b>
		</h4>
	</div>
	<div>
		<form method="POST">{% csrf_token %}
			{{form.as_p}}
			 <button type="submit/button" class="btn btn-success pull-right">Guardar cambios<span class="glyphicon glyphicon-chevron-right"></span></button>
		</form>
	</div><br><br><br>
{% endblock contenido %}