{% extends "base.html" %}
{% block titulo %}
	Matricula
{% endblock titulo %}
{% block contenido %}
<div class="page-header">
	<h4>
		<b>Tienes <span class="label label-warning">{{cantidad}}</span> curso(s) registrados</b>
		<a href="{% url 'matricula_app:addCurso' %}" class="btn btn-primary pull-right">
			<span class="glyphicon glyphicon-plus"> Crear curso</span>
		</a>
	</h4>
</div><!-- page-header -->

<div>
	<table class="table table-striped table-condenced table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
			    <th>Descripcion</th>
			    <th>Precio</th>
			    <th>Profesor</th>
			    <th>Opciones</th>
			</tr>
		</thead>
		<tbody>
		{% for curso in lista %}		
			<tr>
				<td>{{curso.nombre}}</td>
				<td>{{curso.descripcion}}</td>
				<td>{{curso.precio}}</td>
				<td>{{curso.profesor}}</td>
				<td>
					<a href="#" class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-book"></span></a>
					<a href="#" class="btn btn-warning btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
					<a href="#" class="btn btn-danger btn-xs"> <span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>	
		{% endfor %}
		</tbody>	
	</table>
</div>
{% endblock contenido %}