{% extends "base.html" %}
{% block titulo %}
	Matricula
{% endblock titulo %}
{% block contenido %}
	
<div class="page-header">
	<h4>
		<a href="#" class="btn btn-warning">
			<span class="glyphicon glyphicon-chevron-left"></span>Regresar
		</a>
		<strong>Datos del alumno</strong>
	</h4>
</div>
<div class="page-header">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-chevron-right"></span></button>
	</form>
</div>
<div class="page-header">
<h4>
	<strong>Datos del encargado</strong>
</h4>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form1.as_p}}
		<button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-chevron-right"></span></button>
	</form>
</div>
{% endblock contenido %}