{% extends "base.html" %}
{% block titulo %}
	Main
{% endblock titulo %}
{% block contenido %}
	<h1>Bienvenidos al sistema de matriculas</h1>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error modi consequatur reprehenderit suscipit ipsam eum in nostrum corporis similique, tempore, eius nobis esse ipsa itaque recusandae necessitatibus optio iste temporibus.
        </p>
        <a href="#" class="btn btn-danger">Cancelar</a>
        <button class="btn btn-primary">Aceptar</button>
      </div>


 
{% endblock contenido %}