{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gooey Off-canvas Navigation Demo</title>
<link rel="stylesheet" href="{% static "css/admin-style.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>

<body>

<div class="wrapper">
  <header>
    <div class="left">
      <button id="menu" title="Menu"><span class="glyphicon glyphicon-list"></span></button>
      <h1>Sistema de matriculas</h1>
    </div>
    <div class="utils right"> 
      <a href="#" class='alerts'><span class="glyphicon glyphicon-grain"></span></a> <i class="sep">&nbsp;</i> 
      <a href="#"><span class="glyphicon glyphicon-user"></span>{{ user.username|capfirst }}</a> <i class="sep">&nbsp;</i>
      <a href="{%url 'logout'%}"><i class="glyphicon glyphicon-off"></i></a>         
    </div>

  </header>
  <!--//Header-->
  <div class="content">
    <aside>
      <h2>Site Logo</h2>
      <div class="controls">
        <input type="search" id="search" name="search" />
        <label for="search"><i class="fa fa-search"></i></label>
      </div>
      <nav class='site-nav'> 
      <a class="active" href="#"><span class="glyphicon glyphicon-home"></span> Home</a> 
      <a href="#"><span class="glyphicon glyphicon-cog"></span> Services</a> 
      <a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact</a> 
      <a href="#"><i class="glyphicon glyphicon-book"></i> Blog</a> </nav>
      <footer> <a href="{%url 'logout'%}"><i class="glyphicon glyphicon-off"></i> Logout</a> </footer>
    </aside>
    <!--//sidebar-->
    <section>
      <article>
      <div class="container">
        {% block contenido %}
          
        {% endblock contenido %}
      </div>
      </article>
    </section>
    <div class="site-footer">
      <div class="right"> <a href="">Terms of Use</a> <span class="sep"></span> <a href="" class='feedback'><i class="fa fa-bullhorn"></i> Feedback</a> </div>
    </div>
    <!--//body content--> 
  </div>
  <!--//Main Content--> 
</div>
<script src="{% static "js/jquery-1.11.3.js" %}"></script> 
<script>
$(function(){
  $("#menu").on("click" , function(){
    $(this).toggleClass("active");
    $("body").toggleClass("nav-open");
  });
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>